<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
</head>
<body>
    <form action="http://localhost:5000/result" method="POST">
        <p>Name</p>
        <p><input type="text" name="Name" /></p>

        <p>Physics</p>
        <p><input type="text" name="Physics" /></p>

        <p>Chemistry</p>
        <p><input type="text" name="Chemistry" /></p>

        <p>Math</p>
        <p><input type="text" name="Math" /></p>

        <p><input type="submit" name="Submit" /></p>
    </form>

</body>
</html>